{{#if geo:lat}}
{{!-- Leaflet --}}
<div id="map-canvas"></div>
{{#defer}}
<script src="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>

{{!-- MarkerCluster --}}
{{!-- <link rel="stylesheet" href="/vendor/leaflet.markercluster/MarkerCluster.css">
<link rel="stylesheet" href="/vendor/leaflet.markercluster/MarkerCluster.Default.css">
<script src="/vendor/leaflet.markercluster/leaflet.markercluster-src.js"></script> --}}
<script>
$(function() {
	$('head').append('<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />');
  var map = L.map('map-canvas').setView([{{geo:lat}}, {{geo:long}}], 5);
  L.tileLayer('http://a.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
  }).addTo(map);

  var marker = L.marker([{{geo:lat}}, {{geo:long}}]).addTo(map);
})
</script>
{{/defer}}
{{/if}}