    <footer class="site-footer">
      <p class="copyright">&copy; Hak cipta aplikasi pada BenangMerah 2013; Hak cipta data pada masing-masing pemilik sumber data.</p>
      <p class="open-source">BenangMerah adalah perangkat lunak sumber-terbuka dengan <a href="https://github.com/benangmerah/benangmerah/blob/master/LICENSE">lisensi MIT</a>. <a href="http://github.com/benangmerah/benangmerah">Fork me on GitHub.</a></p>
    </footer>