    <footer class="site-footer">
      <p class="copyright">&copy; Hak cipta aplikasi pada BenangMerah 2013; Hak cipta data pada masing-masing pemilik sumber data.</p>
      <p class="open-source">BenangMerah adalah perangkat lunak sumber-terbuka dengan <a href="https://github.com/benangmerah/benangmerah/blob/master/LICENSE">lisensi MIT</a>. <iframe src="http://mdo.github.io/github-btn.html?user=benangmerah&amp;repo=benangmerah&amp;type=fork" allowtransparency="true" scrolling="0" frameborder="0" height="20px" width="95px"></iframe></p>
    </footer>