<div class="content resource">
	{{#with resource}}
	<article class="resource">
		<header>
			<h1>{{[@type]}}</h1>
			<h2>{{preferredLabel}}</h2>
		</header>

		<div>
			<table class="table">
				{{#each this}}
				<tr>
					<th>{{@key}}<th>
					<td>{{ldObject this}}</td>
				</tr>
				{{/each}}
			</table>
		</div>
	</article>
	{{/with}}
</div>