// BenangMerah
// Master stylesheet
// Goals:
// 1. Keep it simple
// 2. Keep it semantic (using LESS)

// Fonts
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic);

// Import bootstrap
@import "bootstrap/bootstrap.less";

// Variables
@base-red:       #ee0000;
@bright-red:     #ff0000;
@brand-primary:  @base-red;
@font-family-main: Roboto, @font-family-sans-serif;
@font-family-base: @font-family-main;

// Custom mixins
.container-responsive() {
  .container-fixed();
	@media (min-width: @screen-sm-min) {
    width: @container-sm;
	}
	@media (min-width: @screen-md-min) {
    width: @container-md;
	}
	@media (min-width: @screen-lg-min) {
    width: @container-lg;
	}
}
.narrow-kerning {
  letter-spacing: -0.04em;
}
.page-header() {
  padding: 45px 15px;
  margin: -30px -15px 30px;
  border-bottom: 1px solid @gray-lighter;

  h2, h1:first-child:last-child {
    .h1;
    color: #000;
    margin: 0;
    font-weight: 300;
  }
  h1 {
    .h4;
    font-weight: 300;
    color: @gray-light;
    margin: 0 0 5px 0;
  }
}

// Non-bootstrap styles

body {
  // background: #f9f9f9;
}
p {
  // font-weight: 300;
}

.more-info {
  font-size: @font-size-small;
  margin-left: 2px;
}

.site-header {
  padding: 15px 0;
  border-bottom: 1px solid @gray-lighter;
  background: #fff;

  @media (min-width: @screen-sm-min) {
    padding: 30px 0;
  }

  h1 {
    .container-responsive();
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
    font-size: 26px;
    .narrow-kerning();

    a {
      color: black;

      span {
        color: @brand-primary;
      }
    }

    i {
      font-weight: normal;
      letter-spacing: 0;
      color: @gray-lighter;
      font-size: @font-size-base;
      font-style: normal;
      text-transform: uppercase;
    }

    > span.data-manager {
      font-weight: 300;
      color: @gray-light;
    }
  }
}

body > .content {
  .container-responsive();
  border-top: 1px solid @bright-red;
  margin-top: -1px;
  padding-top: 30px;
}

.site-footer {
  .container-responsive();
  padding-bottom: 30px;
  font-size: @font-size-small;
  border-top: 1px solid @gray-lighter;
  padding-top: 30px;
  margin-top: 30px;

  p {
    font-weight: normal;
  }
  .copyright {
    color: @gray;
  }
  .open-source {
    color: @gray-light;

    a {
      color: inherit;
      text-decoration: underline;
    }
  }
}

.content.home {
  .positioning {
    font-weight: 300;
    font-size: 30px;
    line-height: 1.15;
    padding: 30px 15px;
    margin: -30px -15px 30px;
    border-bottom: 1px solid @gray-lighter;
    .narrow-kerning();
    color: @gray-light;

    @media (min-width: @screen-sm-min) {
      font-size: 36px;
      padding: 45px 15px;
    }
  }
  .positioning em {
    font-weight: 500;
    font-style: normal;
    color: @gray-darker;
  }
  // .province-browser {
  //   margin-left: -15px;
  //   margin-right: -15px;
  //   padding: 0 15px 30px;
  //   border-bottom: 1px solid @gray-lighter;
  // }
  .province-browser ul {
    list-style: none;
    padding: 0;
    column-count: 3;

    font-size: 1.2 * @font-size-base;
    @media (min-width: (@screen-sm-min * 0.66)) {
      .content-columns(2);
    }
    @media (min-width: @screen-sm-min) {
      .content-columns(3);
    }
    @media (min-width: @screen-md-min) {
      font-size: @font-size-large;
      font-weight: 300;
    }
    @media (min-width: @screen-lg-min) {
      font-size: 1.2 * @font-size-large;
    }
  }
  .intro {
    .make-row();
    margin: 0 -15px 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid @gray-lighter;

    .background {
      .make-md-column(6);
    }
    .how-it-works {
      .make-md-column(6);

      span {
        color: @gray-darker;
        font-weight: 500;
      }
    }
  }
  .information-overview {
    margin: -30px -15px 30px;
    padding: 30px 15px;
    border-bottom: 1px solid @gray-lighter;

    header h1 {
      margin: 0 0 30px;
      font-weight: 300;
      font-size: @font-size-h2;
      .narrow-kerning();
      color: @gray-light;

      span {
        color: @gray-darker;
        font-weight: 500;
      }
    }

    .objects {
      .make-row();
      padding-top: 30px;

      section {
        .make-md-column(4);
      }
    }
  }

  .contributing {
    .options {
      .make-row();

      section {
        .make-md-column(3);
      }
    }
  }
}

#map-canvas {
  position: relative;
  height: 150px;

  @media (min-width: @screen-sm-min) {
    height: 210px;
  }
  @media (min-width: @screen-md-min) {
    height: 300px;
  }
  @media (min-width: @screen-lg-min) {
    height: 360px;
  }
}

.content.map {
  padding-top: 0;

  #map-canvas {
    position: absolute;
    left: 0;
    width: 100%;
  }
}
.content.map + .site-footer {
  display: none;
}

.content.activity {
  article.activity {
    & > header {
      .page-header();
    }

    .details-wrapper {
      .make-row();

      .description {
        .make-md-column(8);
        .make-lg-column(6);
        font-size: @font-size-base * 1.2;

        h5 {
          display: none;
        }
      }

      .details {
        h5 {
          margin-top: 0;
        }
        ul {
          padding: 0;
        }
        li {
          list-style: none;
          font-weight: 300;
        }

        p {
          text-align: center;
        }

        table {
          margin-top: 30px;
          font-size: @font-size-small;

          th, td {
            padding-left: 0;
            padding-right: 0;
            border-top: 1px solid @gray-lighter;
          }

          td {
            text-align: right;
          }
        }
      }
    }
  }
}

.content.resource {
  article {
    & > header {
      .page-header();
    }

    .infobox-collection {
      padding-bottom: 15px;
      margin-bottom: 30px;
      border-bottom: 1px solid #eee;
    }
    .infobox-collection:last-child {
      margin-bottom: 0;
      border-bottom: 0 none;
    }
    .place-summary {
      .infobox-collection;

      h4 {
        margin-top: 0;
      }

      .quick-stat {
        font-size: @font-size-h2;
        font-weight: 300;
        span {
          color: @gray-light;
        }
      }
    }

    .infobox {
      margin-bottom: 30px;

      header {
        h4 {
          margin-bottom: 15px;
          float: left;
        }
        .view-toggle {
          float: right;
          margin-top: 7px;
        }
      }
      .infobox-body {
        clear: both;
        overflow-x: auto;
        margin-bottom: 15px;
        table {
          margin-bottom: 0;
        }
      }
      address.source {
        font-size: @font-size-small;
        color: @gray;
      }

    }

    .description {
      font-size: 1.2 * @font-size-base;
      font-weight: normal;
      p {
        font-weight: normal;
      }
    }

    h3 {
      font-size: @font-size-h4;
      font-weight: 300;
      margin-top: 0;
      margin-bottom: 30px;
    }

    nav {
      h4 {
        font-size: @font-size-base;
        font-weight: normal;
        margin: 15px 0 10px;
        color: @gray;
      }
      ul {
        padding-left: 0;
        list-style: none;

        li {
          margin: 0 0 5px;
        }

        @media (min-width: (@screen-sm-min * 0.6)) and (max-width: @screen-sm-max) {
          .content-columns(2);
        }
      }
    }

    .leaderboard {
      max-height: 360px;
      overflow-y: auto;
    }
  }
}

.content > header {
  .page-header();
}

.instance-actions {
  > * {
    float: left;
    margin-right: 10px;
  }
}