    <div class="content home">
      <section class="positioning">
        <p>BenangMerah <em>mempermudah&nbsp;akses</em> terhadap <em>data&nbsp;pembangunan&nbsp;Indonesia</em> dengan <em>menghubungkan</em> berbagai sumber <i>open data</i>.</p>
      </section>

{{!--       <section class="intro">
        <section class="background">
          <header>
            <h4>Pembangunan adalah tanggung jawab <span>bersama</span>.</h4>
          </header>
          <p>Sebagai negara berkembang, pembangunan sosial di Indonesia masih tertinggal. Banyak kalangan, dari lembaga internasional hingga himpunan mahasiswa, berusaha berkontribusi terhadap pembangunan sosial melalui berbagai macam kegiatan di bidang dan tempat masing-masing.</p>
          <p>BenangMerah bertujuan untuk melacak dan memetakan upaya-upaya tersebut, dengan harapan setiap pihak yang terlibat dapat berkontribusi terhadap pembangunan dengan lebih efektif.</p>
        </section>
        <section class="how-it-works">
          <header>
            <h4>Bagaimana cara kerja BenangMerah?</h4>
          </header>

          <!-- Insert illustration here -->
          <p>BenangMerah menghimpun data mengenai <span>kegiatan/projek pembangunan sosial</span> serta <span>demografi penduduk dan faktor-faktor pembangunan</span> dari berbagai sumber ke dalam sebuah basis data, kemudian menampilkannya dalam bentuk <span>peta</span>, <span>indeks</span>, dan <span>API terbuka</span>.</p>
        </section>
      </section> --}}

      <section class="province-browser">
        <section class="background">
          <header>
            <h4>Telusuri data berdasarkan provinsi</h4>
          </header>
          <ul class="provinces-list">
            {{#each provinces}}
            <li><a href="{{path}}">{{name}}</a></li>
            {{/each}}
          </ul>
        </section>
      </section>
{{!-- 
      <section class="contributing">
        <header>
          <h4>Dukung kami</h4>
        </header>
        <section class="options">
          <section>
            <h5>Bagi lembaga pengelola dana</h5>
            <p>Dukung kami dengan berbagi data portfolio Anda. Kami mendukung IATI, standar internasional untuk data aliran bantuan pembangunan.</p>
          </section>
          <section>
            <h5>Bagi pelaku pembangunan</h5>
            <p>Dukung kami dengan berbagi data projek sosial yang dilaksanakan oleh anggota Anda.</p>
          </section>
          <section>
            <h5>Bagi pengembang</h5>
            <p>BenangMerah adalah perangkat lunak sumber-terbuka. <a href="http://github.com/benangmerah/benangmerah">Fork me on GitHub.</a></p>
          </section>
        </section> --}}
      </section>
    </div>

