<div class="content worldbank">
  <h1 class="page-title">World Bank Scaffold</h1>
  {{#if error}}
  <div class="alert alert-danger">Upload failed.</div>
  {{else}}
  <div class="alert alert-success">Upload success.</div>
  {{/if}}
</div>
